* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #99d276;
  text-align: center;
  color: #df6045;
}
h1 {
  display: inline;
  text-shadow: 0.5px 0.5px 0px black, -0.5px -0.5px 0px black,
    0.5px -0.5px 0px black, -0.5px 0.5px 0px black;

  font-size: 9vmin;
}
h1:hover,
h2:hover {
  transition: all 1s linear 0s;
  color: rgb(206, 52, 52);
  text-shadow: 0.5px 0.5px 0px white, -0.5px -0.5px 0px white,
    0.5px -0.5px 0px white, 0.5px 0.5px 0px white;
  border: none;
}
.container {
  height: 70vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 12.5vmin;
  background-color: rgb(255, 219, 244);
  color: #df6045;
  font-weight: bold;
}
.resetbutn {
  background-color: #499fa4;
  color: #ffffff;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  transition: all 1s linear 0s;
}
.resetbutn:hover {
  background-color: #cc6caf;
  color: black;

  text-shadow: 0.5px 0.5px 0px white, -0.5px -0.5px 0px white,
    0.5px -0.5px 0px white, -0.5px 0.5px 0px white;
}

.playerx {
  color: #bf00ff;
  font-weight: bold;
}
.playero {
  color: #ff00b3;
  font-weight: bold;
}
h2 {
  color: #df6045;
  font-size: 8vmin;
  display: inline;
}
.winner {
  background-color: gold;
  color: red;
  border: 2px solid #df6045;
}
