* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 4vmin;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  height: 100vmin;
  color: #e7f0fa;
  background-color: #e7f0fa;
}

h1 {
  background-color: #12355b;
  font-size: 7vmin;
  line-height: 8vmin;
  transition: background-color 0.2s ease, color 1s ease, text-shadow 2s ease;
}

h1:hover {
  background-color: #e7f0fa;
  color: #12355b;
  text-shadow: 1px 6px 11px rgba(0, 0, 0, 0.7);
}
.choice {
  height: 15vmin;
  width: 15vmin;
  border-radius: 20%;
  transition: filter 0.3s ease, color 0.3s ease;
}
.choice:hover {
  margin-bottom: 10px;
  cursor: pointer;
  border: 3px solid #12355b;
  color: #c4bf8c;
  text-shadow: 0.5px 0.5px 0px black, -0.5px -0.5px 0px black,
    0.5px -0.5px 0px black, -0.5px 0.5px 0px black;
  font-weight: bold;
}

img {
  height: 14vmin;
  width: 14vmin;
  object-fit: contain;
  margin-bottom: 8px;
}
#Rock {
  background-color: #e572c8;
}
#Paper {
  background-color: #a675e3;
}
#Scissors {
  background-color: #e58e71;
}
.comp-choice {
  height: 6em;
  width: 13em;
  background-color: #12355b;
  color: #fff14c;
  font-weight: bold;
  display: inline-block;
  border-radius: 5px;
}
#comp-img {
  display: inline-block;
  margin-top: 0.3em;
}
#comp-img img:hover {
  background-color: #12355b;
  border-radius: none;
}

#comp-img img {
  height: 16vmin;
  width: 16vmin;

  object-fit: contain;
  border-radius: 50%;
  background-color: #fff14c;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 33vmin;
  margin-top: 20px;
}
.scoreboard {
  color: #12355b;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 1rem;
}

.msgcontainer {
  font-weight: bold;
  color: #12355b;
  margin-top: 20px;
  padding: 10px;
  border-radius: 1rem;
}
#msg {
  border-radius: 1rem;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-aspect-ratio: 1/1) {
  .comp-choice {
    height: 7.5em;
  }
}
